<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    {%block cssblock%} {% endblock %}
  </head>

  <body data-bs-spy="scroll" data-bs-target="#header" tabindex="0">
    {%include "homepage/navbar.html" %} {%block content%} {% endblock %}
    {%include "homepage/footer.html" %} {%include
    "homepage/authentication-modal.html" %} {%block jsblock%} {%endblock%}
    {%block content1%} {% endblock %}
  </body>
</html>
